<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate a basic number:</p>
    {{#number-field enabled=true value=validatedNumberExample as |field|}}
      <input
        type="text"
        placeholder="Enter a number"
        oninput={{action (mut validatedNumberExample) value="target.value"}}
        value={{validatedNumberExample}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html basicNumberExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate an integer:</p>
    {{#number-field enabled=true value=validatedIntegerExample integer=true as |field|}}
      <input
        type="text"
        placeholder="Enter an integer"
        oninput={{action (mut validatedIntegerExample) value="target.value"}}
        value={{validatedIntegerExample}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html integerExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate an age value:</p>
    {{#number-field
      enabled=true
      value=myAgeValue
      positive=true
      integer=true
      onInput=(action (mut myAgeValue))
      as |field|
    }}
      <input
        type="text"
        placeholder="Enter your age"
        oninput={{action (mut field.value) value="target.value"}}
        value={{myAgeValue}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html positiveIntegerExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate a negative number:</p>
    {{#number-field
      enabled=true
      value=validateNegativeExample
      negative=true
      as |field|
    }}
      <input
        type="text"
        placeholder="Enter a negative number"
        oninput={{action (mut validateNegativeExample) value="target.value"}}
        value={{validateNegativeExample}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html negativeNumberExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate a number between 30-50:</p>
    {{#number-field
      enabled=true
      value=validatedRangeExample
      min=30
      max=50
      as |field|
    }}
      <input
        type="text"
        placeholder="number range"
        oninput={{action (mut validatedRangeExample) value="target.value"}}
        value={{validatedRangeExample}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html numberRangeExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate a number less than 20</p>
    {{#number-field
      enabled=true
      value=validatedLessThanExample
      lt=20
      as |field|
    }}
      <input
        type="text"
        placeholder="less than 20 example"
        oninput={{action (mut validatedLessThanExample) value="target.value"}}
        value={{validatedLessThanExample}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html ltExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate a number greater than 20</p>
    {{#number-field
      enabled=true
      value=validatedGreaterThanExample
      gt=20
      as |field|
    }}
      <input
        type="text"
        placeholder="greater than 20 example"
        oninput={{action (mut validatedGreaterThanExample) value="target.value"}}
        value={{validatedGreaterThanExample}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html gtExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate min 20</p>
    {{#number-field
      enabled=true
      value=validateMinValue
      min=20
      as |field|
    }}
      <input
        type="text"
        placeholder="min number 20"
        oninput={{action (mut validateMinValue) value="target.value"}}
        value={{validateMinValue}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html minExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate max 20</p>
    {{#number-field
      enabled=true
      value=validateMaxValue
      max=20
      as |field|
    }}
      <input
        type="text"
        placeholder="max number 20"
        oninput={{action (mut validateMaxValue) value="target.value"}}
        value={{validateMaxValue}}
      >
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/number-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html maxExample}}
  </div>
</section>
