{{#each-in model as |name data|}}
  <p class="m-0">{{name}}</p>
  {{#each data as |doc|}}
    <p class="m-0">desc: {{doc.description}}</p>
    <div class="">
      tags:
      {{#each doc.tags as |tag|}}
        <span>{{tag.title}}</span>
      {{/each}}
    </div>
  {{/each}}
{{/each-in}}

<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate a boolean</p>
    {{#boolean-field enabled=true required=true value=agreedToTerms as |field|}}
      <label>
        <input
          type="checkbox"
          onclick={{action (mut agreedToTerms) value="target.checked"}}
          checked={{agreedToTerms}}
        > agree to terms?
      </label>
      {{#each field.errorMessages as |error|}}
        <p class="text-red">{{error}}</p>
      {{/each}}
    {{/boolean-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html simpleBoolExample}}
  </div>
</section>
