{{#if (eq currentTab "code")}}
  <WiredCard id="{{elementId}}-code-card" class="block demo-container relative">
    <nav class="nav-tabs absolute pin-r text-right">
      <wired-listbox horizontal selected={{currentTab}}>
       <wired-item value="demo" onclick={{action (mut currentTab) value="target.value"}}>demo</wired-item>
       <wired-item value="code" onclick={{action (mut currentTab) value="target.value"}}>code</wired-item>
      </wired-listbox>
    </nav>
    {{#unless isReloading}}
      {{markdown-to-html fieldMarkup}}
    {{/unless}}
    <p class="m-0 mb-2 text-right">
      <a class="settings-toggle" {{action (mut showSettings) (not showSettings)}}>{{if showSettings "Hide settings ▽" "Show settings ▶"}}</a>
    </p>
  </WiredCard>
{{else if (eq currentTab "demo")}}
  <WiredCard id="{{elementId}}-code-card" class="block demo-container relative">
    <nav class="nav-tabs absolute pin-r text-right">
      <wired-listbox horizontal selected={{currentTab}}>
       <wired-item value="demo" onclick={{action (mut currentTab) value="target.value"}}>demo</wired-item>
       <wired-item value="code" onclick={{action (mut currentTab) value="target.value"}}>code</wired-item>
      </wired-listbox>
    </nav>
    <div class="pt-2 pb-10 px-2 demo bg-grey-lightest">
      {{#unless isReloading}}
        {{#component field.componentName
          type=field.subType
          validationMessages=(hash
            required=field.requiredValidationMessage
            matches=field.matchesValidationMessage
            charLimit=field.charLimitValidationMessage
            email=field.emailValidationMessage
            url=field.urlValidationMessage
            integer=field.integerMessage
            negative=field.negativeMessage
            positive=field.positiveMessage
            min=(if isNumber field.minNumberMessage field.minDateMessage)
            max=(if isNumber field.maxNumberMessage field.maxDateMessage)
            gt=field.greaterThanMessage
            lt=field.lessThanMessage
            dataType=field.dataTypeMessage
          )
          value=fieldValue
          required=field.required
          disabled=field.disabled
          integer=field.isInteger
          negative=field.isNegative
          positive=field.isPositive
          min=(if isNumber field.minRangeNumber field.minDate)
          max=(if isNumber field.maxRangeNumber field.maxDate)
          gt=field.greaterThanNumber
          lt=field.lessThanNumber
          matches=stringMatches
          charLimit=field.stringCharLimit
          as |f actions|
        }}
          <div class="flex">
            <div class="w-2/5">
              {{#if isBoolean}}
                <wired-checkbox
                  class="cursor-pointer"
                  checked={{fieldValue}}
                  onclick={{action actions.onChange value="target.checked"}}
                ></wired-checkbox>
              {{else}}
                {{#if isLongText}}
                  <WiredTextarea
                    @disabled={{f.disabled}}
                    @value={{fieldValue}}
                    @placeholder={{field.componentName}}
                    @input={{action actions.onChange value="target.value"}}
                    @blur={{action actions.onBlur}}
                  >
                  </WiredTextarea>
                {{else}}
                  <WiredInput
                    @disabled={{f.disabled}}
                    @value={{fieldValue}}
                    @placeholder={{field.componentName}}
                    @input={{action actions.onChange value="target.value"}}
                    @blur={{action actions.onBlur}}
                  >
                  </WiredInput>
                {{/if}}
                <a class="inline-block ml-1 text-sm cursor-pointer" {{action actions.onClear}}>clear</a>
              {{/if}}
              {{#if (eq field.displayErrorMessages "onBlur")}}
                {{#if f.didBlur}}
                  {{#each f.errorMessages as |message|}}
                    <p class="text-red text-sm">{{message}}</p>
                  {{/each}}
                {{/if}}
              {{else if (eq field.displayErrorMessages "onUpdate")}}
                {{#if f.didValueChange}}
                  {{#each f.errorMessages as |message|}}
                    <p class="text-red text-sm">{{message}}</p>
                  {{/each}}
                {{/if}}
              {{else}}
                {{#each f.errorMessages as |message|}}
                  <p class="text-red text-sm">{{message}}</p>
                {{/each}}
              {{/if}}


            </div>
            <div class="w-3/5 flex justify-end">
              <table class="table">
                <thead>
                  <tr>
                    <th>typeof(value)</th>
                    {{#each-in f as |key|}}
                      {{#unless (or (eq key "errorMessages") (eq key "value"))}}
                        <th>{{key}}</th>
                      {{/unless}}
                    {{/each-in}}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{fieldValueType}}</td>
                    {{#each-in f as |key val|}}
                      {{#unless (or (eq key "errorMessages") (eq key "value"))}}
                        <td>{{val}}</td>
                      {{/unless}}
                    {{/each-in}}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        {{/component}}
      {{/unless}}
    </div>
    <p class="m-0 mb-2 text-right">
      <a class="settings-toggle" {{action (mut showSettings) (not showSettings)}}>{{if showSettings "Hide settings ▽" "Show settings ▶"}}</a>
    </p>
  </WiredCard>
{{/if}}

{{#if showSettings}}
  <section class="field-settings">
    <WiredCard id="{{elementId}}-settings-card">
      <div class="flex">
        <div class="w-2/5">
          <section class="pl-4">
            <h3>General</h3>
            <label for="">Disable field?</label>
            <WiredToggle @checked={{field.disabled}} @click={{action (mut field.disabled) value="target.checked"}}></WiredToggle>
            <fieldset>
              <legend>Show error messages</legend>
              <WiredRadioGroup @selected={{field.displayErrorMessages}}>
                <WiredRadio @name="onInit" @click={{action (mut field.displayErrorMessages) value="target.name"}}>on init</WiredRadio>
                {{#unless isBoolean}}
                  <WiredRadio @name="onBlur" @click={{action (mut field.displayErrorMessages) value="target.name"}}>on blur</WiredRadio>
                {{/unless}}
                <WiredRadio @name="onUpdate" @click={{action (mut field.displayErrorMessages) value="target.name"}}>on change</WiredRadio>
              </WiredRadioGroup>
            </fieldset>
          </section>


        </div>
        <div class="w-3/5">
          <div class="field-row">
            <h3 class="right-col-heading">Validation Options</h3>
            <div class="control-field"></div>
          </div>
          <div class="flex">
            <div class="w-1/2">
              <div class="field-row">
                <label for="">Data type</label>
                <div class="control-field">
                  <WiredSelect @selected={{field.componentName}} @change={{action (mut field.componentName) value="detail.selected"}}>
                    <wired-item value="text-field">String</wired-item>
                    <wired-item value="number-field">Number</wired-item>
                    <wired-item value="date-field">Date</wired-item>
                    <wired-item value="boolean-field">Boolean</wired-item>
                  </WiredSelect>
                </div>
              </div>
            </div>
            <div class="w-1/2">
              <div class="field-row">
                <label for="">Message</label>
                <div class="control-field">
                  <WiredInput @placeholder="invalid data type" @value={{field.dataTypeMessage}} @input={{action (mut field.dataTypeMessage) value="target.value"}}></WiredInput>
                </div>
              </div>
            </div>
          </div>
          <div class="flex">
            <div class="w-1/2">
              <div class="field-row">
                <label for="">Require value?</label>
                <div class="control-field">
                  <WiredToggle @checked={{field.required}} @click={{action (mut field.required) value="target.checked"}}></WiredToggle>
                </div>
              </div>
            </div>
            <div class="w-1/2">
              <div class="field-row">
                <label for="">Message</label>
                <div class="control-field">
                  <WiredInput @placeholder="this is a required field" @disabled={{not field.required}} @value={{field.requiredValidationMessage}} @input={{action (mut field.requiredValidationMessage) value="target.value"}}></WiredInput>
                </div>
              </div>
            </div>
          </div>

          {{#if isText}}
            <div class="field-row">
              <label for="">String subtype</label>
              <div class="control-field">
                <WiredRadioGroup @selected={{field.subType}}>
                  <WiredRadio @name="none" @click={{action (mut field.subType) value="target.name"}}>none</WiredRadio>
                  <WiredRadio @name="email" @click={{action (mut field.subType) value="target.name"}}>email</WiredRadio>
                  <WiredRadio @name="url" @click={{action (mut field.subType) value="target.name"}}>url</WiredRadio>
                  <WiredRadio @name="matches" @click={{action (mut field.subType) value="target.name"}}>regex</WiredRadio>
                </WiredRadioGroup>
              </div>
            </div>
            <div class="field-row">
              <label for="">Subtype message</label>
              <div class="control-field">
                {{#if isStringMatches}}
                  <WiredInput @placeholder="must match ${regex}" @input={{action (mut field.matchesValidationMessage) value="target.value"}}></WiredInput>
                {{else if (eq field.subType "email")}}
                  <WiredInput @placeholder="must be a valid email" @input={{action (mut field.emailValidationMessage) value="target.value"}}></WiredInput>
                {{else if (eq field.subType "url")}}
                  <WiredInput @placeholder="must be a valid url" @input={{action (mut field.urlValidationMessage) value="target.value"}}></WiredInput>
                {{else}}
                  <WiredInput @placeholder="N/A" @disabled=true></WiredInput>
                {{/if}}
              </div>
            </div>
            <div class="field-row">
              <label for="">Regex pattern</label>
              <div class="control-field">
                <WiredInput @value={{field.stringMatches}} @disabled={{not isStringMatches}} @placeholder="^\d{5}(-\d{4})?$" @input={{action (mut field.stringMatches) value="target.value"}}></WiredInput>
              </div>
            </div>
            <div class="field-row">
              <label for="">Character limit: {{field.stringCharLimit}}</label>
              <div class="control-field">
                <WiredSlider @max=50 @change={{action "setCharLimit"}}></WiredSlider>
              </div>
            </div>
          {{else if isNumber}}
            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Integer</label>
                  <div class="control-field">
                    <WiredToggle @checked={{field.isInteger}} @click={{action (mut field.isInteger) value="target.checked"}}></WiredToggle>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @placeholder="must be an integer" @value={{field.integerMessage}} @input={{action (mut field.integerMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Positive</label>
                  <div class="control-field">
                    <WiredToggle @checked={{field.isPositive}} @click={{action (mut field.isPositive) value="target.checked"}}></WiredToggle>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @placeholder="must be positive" @value={{field.positiveMessageMessage}} @input={{action (mut field.positiveMessageMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Negative</label>
                  <div class="control-field">
                    <WiredToggle @checked={{field.isNegative}} @click={{action (mut field.isNegative) value="target.checked"}}></WiredToggle>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @placeholder="must be negative" @value={{field.negativeMessage}} @input={{action (mut field.negativeMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Min</label>
                  <div class="control-field">
                    <WiredInput @placeholder="enter a number" @value={{field.minRangeNumber}} @input={{action (mut field.minRangeNumber) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @placeholder="must be >= ${min}" @value={{field.minNumberMessage}} @input={{action (mut field.minNumberMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Max</label>
                  <div class="control-field">
                    <WiredInput @placeholder="enter a number" @value={{field.maxRangeNumber}} @input={{action (mut field.maxRangeNumber) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @placeholder="must be <= ${max}" @value={{field.maxNumberMessage}} @input={{action (mut field.maxNumberMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Greater than</label>
                  <div class="control-field">
                    <WiredInput @placeholder="enter a number" @value={{field.greaterThanNumber}} @input={{action (mut field.greaterThanNumber) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @placeholder="must be > ${more}"@value={{field.greaterThanMessage}} @input={{action (mut field.greaterThanMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Less than</label>
                  <div class="control-field">
                    <WiredInput @placeholder="enter a number" @value={{field.lessThanNumber}} @input={{action (mut field.lessThanNumber) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @placeholder="must be < ${less}" @value={{field.lessThanMessage}} @input={{action (mut field.lessThanMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>
          {{else if isDate}}
            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Min Date</label>
                  <div class="control-field">
                    <WiredInput @placeholder="enter a date" @value={{field.minDate}} @input={{action (mut field.minDate) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @value={{field.minDateMessage}} @input={{action (mut field.minDateMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Max Date</label>
                  <div class="control-field">
                    <WiredInput @placeholder="enter a date" @value={{field.maxDate}} @input={{action (mut field.maxDate) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field-row">
                  <label for="">Message</label>
                  <div class="control-field">
                    <WiredInput @value={{field.maxDateMessage}} @input={{action (mut field.maxDateMessage) value="target.value"}}></WiredInput>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </WiredCard>
  </section>
{{/if}}
