{{#if (eq currentTab "code")}}
  <wired-card class="block demo-container relative">
    <nav class="nav-tabs absolute pin-r text-right">
      <wired-listbox horizontal selected={{currentTab}}>
       <wired-item value="demo" onclick={{action (mut currentTab) value="target.value"}}>demo</wired-item>
       <wired-item value="code" onclick={{action (mut currentTab) value="target.value"}}>code</wired-item>
      </wired-listbox>
    </nav>
    {{#unless isReloading}}
      {{markdown-to-html fieldMarkup}}
    {{/unless}}
  </wired-card>
{{else if (eq currentTab "demo")}}
  <wired-card class="block demo-container relative">
    <nav class="nav-tabs absolute pin-r text-right">
      <wired-listbox horizontal selected={{currentTab}}>
       <wired-item value="demo" onclick={{action (mut currentTab) value="target.value"}}>demo</wired-item>
       <wired-item value="code" onclick={{action (mut currentTab) value="target.value"}}>code</wired-item>
      </wired-listbox>
    </nav>
    <div class="pt-2 pb-10 px-2 demo">
      {{#unless isReloading}}
        {{#component field.componentName
          type=field.subType
          validationMessages=(hash
            required=field.requiredValidationMessage
            matches=field.matchesValidationMessage
            charLimit=field.charLimitValidationMessage
          )
          value=fieldValue
          required=field.required
          disabled=field.disabled
          showErrorMessages=showErrorMessages
          showErrorMessagesOnUpdate=showErrorMessagesOnUpdate
          matches=field.stringMatches
          charLimit=field.stringCharLimit
          as |f|
        }}
          <div class="flex">
            <div class="w-2/5">
              {{#if isBoolean}}
                <wired-checkbox
                  class="cursor-pointer"
                  checked={{fieldValue}}
                  onclick={{action (mut fieldValue) value="target.checked"}}
                ></wired-checkbox>
              {{else}}
                <WiredInput
                  @disabled={{f.disabled}}
                  @value={{fieldValue}}
                  @placeholder={{field.componentName}}
                  @input={{action (mut fieldValue) value="target.value"}}
                  @blur={{action (mut didBlur) true}}
                >
                </WiredInput>
              {{/if}}
              {{#each f.errorMessages as |message|}}
                <p class="text-red text-sm">{{message}}</p>
              {{/each}}
            </div>
            <div class="w-3/5 flex justify-end">
              <table class="table">
                <thead>
                  <tr>
                    <th>typeof(value)</th>
                    <th>didValidate</th>
                    <th>hasErrors</th>
                    <th>showErrorMessages</th>
                    {{#if isText}}<th>charRemaining</th>{{/if}}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{fieldValueType}}</td>
                    <td>{{f.didValidate}}</td>
                    <td>{{f.hasErrors}}</td>
                    <td>{{f.showErrorMessages}}</td>
                    {{#if isText}}<td>{{f.charRemaining}}</td>{{/if}}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        {{/component}}
      {{/unless}}
    </div>
  </wired-card>
{{/if}}

<p class="m-0 mb-2 text-right"><a class="cursor-pointer" {{action (mut showSettings) (not showSettings)}}>{{if showSettings "Hide settings ▽" "Show settings ▶"}}</a></p>
{{#if showSettings}}
  <section class="field-settings">
    <WiredCard>
      <div class="flex">
        <div class="w-1/2">
          <div class="field-row">
            <h3>General</h3>
            <div class="control-field"></div>
          </div>
          <div class="field-row">
            <label for="">Disable field?</label>
            <div class="control-field">
              <WiredToggle @checked={{field.disabled}} @click={{action (mut field.disabled) value="target.checked"}}></WiredToggle>
            </div>
          </div>
          <div class="field-row">
            <label for="">Data type</label>
            <div class="control-field">
              <WiredSelect @selected={{field.componentName}} @change={{action (mut field.componentName) value="detail.selected"}}>
                <wired-item value="text-field">String</wired-item>
                <wired-item value="number-field">Number</wired-item>
                <wired-item value="date-field">Date</wired-item>
                <wired-item value="boolean-field">Boolean</wired-item>
              </WiredSelect>
            </div>
          </div>
          <div class="field-row">
            <label for="">Show error messages</label>
            <div class="control-field">
              <WiredRadioGroup @selected={{field.displayErrorMessages}}>
                <WiredRadio @name="onInit" @click={{action (mut field.displayErrorMessages) value="target.name"}}>on init</WiredRadio>
                {{#unless isBoolean}}
                  <WiredRadio @name="onBlur" @click={{action (mut field.displayErrorMessages) value="target.name"}}>on blur</WiredRadio>
                {{/unless}}
                <WiredRadio @name="onUpdate" @click={{action (mut field.displayErrorMessages) value="target.name"}}>on value update</WiredRadio>
              </WiredRadioGroup>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="field-row">
            <h3>Validation Options</h3>
            <div class="control-field"></div>
          </div>
          <div class="field-row">
            <label for="">Require value?</label>
            <div class="control-field">
              <WiredToggle @checked={{field.required}} @click={{action (mut field.required) value="target.checked"}}></WiredToggle>
            </div>
          </div>
          <div class="field-row">
            <label for="">Required message</label>
            <div class="control-field">
              <WiredInput @placeholder="this is a required field" @disabled={{not field.required}} @value={{field.requiredValidationMessage}} @input={{action (mut field.requiredValidationMessage) value="target.value"}}></WiredInput>
            </div>
          </div>
          {{#if isText}}
            <div class="field-row">
              <label for="">String subtype</label>
              <div class="control-field">
                <WiredRadioGroup @selected={{field.subType}}>
                  <WiredRadio @name="none" @click={{action (mut field.subType) value="target.name"}}>none</WiredRadio>
                  <WiredRadio @name="email" @click={{action (mut field.subType) value="target.name"}}>email</WiredRadio>
                  <WiredRadio @name="url" @click={{action (mut field.subType) value="target.name"}}>url</WiredRadio>
                  <WiredRadio @name="matches" @click={{action (mut field.subType) value="target.name"}}>regex</WiredRadio>
                </WiredRadioGroup>
              </div>
            </div>
            <div class="field-row">
              <label for="">Subtype message</label>
              <div class="control-field">
                {{#if isStringMatches}}
                  <WiredInput @placeholder="must match ${regex}" @input={{action (mut field.matchesValidationMessage) value="target.value"}}></WiredInput>
                {{else if (eq field.subType "email")}}
                  <WiredInput @placeholder="must be a valid email" @input={{action (mut field.emailValidationMessage) value="target.value"}}></WiredInput>
                {{else if (eq field.subType "url")}}
                  <WiredInput @placeholder="must be a valid url" @input={{action (mut field.urlValidationMessage) value="target.value"}}></WiredInput>
                {{else}}
                  <WiredInput @placeholder="N/A" @disabled=true></WiredInput>
                {{/if}}
              </div>
            </div>
            <div class="field-row">
              <label for="">Regex pattern</label>
              <div class="control-field">
                <WiredInput @disabled={{not isStringMatches}} @placeholder="^\d{5}(-\d{4})?$" @input={{action (mut field.stringMatches) value="target.value"}}></WiredInput>
              </div>
            </div>
            <div class="field-row">
              <label for="">Character limit: {{field.stringCharLimit}}</label>
              <div class="control-field">
                <WiredSlider @max=120 @change={{action "setCharLimit"}}></WiredSlider>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </WiredCard>
  </section>
{{/if}}
