<form class="" {{action "createUser" on="submit"}}>
  <p>create a user record</p>
  <div class="">
    <label for="username">username</label>
    <input id="username" type="text" value={{formData.username}} oninput={{action (mut formData.username) value="target.value"}}> *required
  </div>
  <div class="">
    <label for="age">age</label>
    <input id="age" type="text" value={{formData.age}} oninput={{action (mut formData.age) value="target.value"}}> *required
  </div>
  <div class="">
    <label for="email">email</label>
    <input id="email" type="text" value={{formData.email}} oninput={{action (mut formData.email) value="target.value"}}>
  </div>
  <button type="submit" name="button">create user</button>
  {{#each errorMessages as |error|}}
    <p style="color: red;">{{error}}</p>
  {{/each}}
</form>

{{#if model.length}}
  <h2>users</h2>
  <table>
    <thead>
      <tr>
        <th>username</th>
        <th>age</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |user|}}
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.age}}</td>
          <td>{{if user.email user.email 'N/A'}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>fill out the form to create a user.</p>
{{/if}}
