<header class="mb-10">
  <nav class="flex items-center justify-between flex-wrap bg-grey-darkest p-6">
    <div class="flex items-center flex-no-shrink text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">
        <a href="https://github.com/egaba88/ember-yup" class="text-white no-underline">Ember Yup</a>
      </span>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        {{link-to "Getting Started" "getting-started" class="block mt-4 lg:inline-block lg:mt-0 text-grey hover:text-white no-underline mr-4"}}
        {{link-to "Example" "validate-schema" class="block mt-4 lg:inline-block lg:mt-0 text-grey hover:text-white no-underline mr-4"}}
        {{link-to "Components" "validation-components.text-field" class="block mt-4 lg:inline-block lg:mt-0 text-grey hover:text-white no-underline mr-4"}}
        {{link-to "Release Notes" "release-notes" class="block mt-4 lg:inline-block lg:mt-0 text-grey hover:text-white no-underline mr-4"}}
      </div>
      <div class="text-sm">
        <a href="https://github.com/egaba88/ember-yup" class="block mt-4 lg:inline-block lg:mt-0 text-grey hover:text-white no-underline mr-4">Github</a>
        <a href="https://github.com/jquense/yup" class="block mt-4 lg:inline-block lg:mt-0 text-grey hover:text-white no-underline mr-4">API Documentation</a>
      </div>
    </div>
  </nav>
</header>

{{outlet}}
