<!-- <div class="bg-grey-lighter py-1 text-center">
  <p class="m-0 font-medium text-xs text-grey-darker">Site under re-construction. Beta is on its way!</p>
</div> -->

{{#side-menu class="bg-grey-lightest"}}
  <nav class="app-side-nav">
    <!-- <header class="font-semibold text-xl mb-8">
      {{link-to "Ember Yup" "index" class="logo-link"}}
    </header> -->
    <ul>
      <li>
        <p>Getting Started</p>
        <ul>
          <li>{{link-to "Installation" "getting-started.installation"}}</li>
          <li>
            {{link-to "Quick Start" "getting-started.quick-start"}}
            <ul>
              <li>{{link-to "Example" "getting-started.quick-start.demo"}}</li>
              <li>{{link-to "Define schema" "getting-started.quick-start.define-schema"}}</li>
              <li>{{link-to "Setup controller" "getting-started.quick-start.setup-controller"}}</li>
              <li>{{link-to "Build template" "getting-started.quick-start.build-template"}}</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <p>Form Components</p>
        <ul>
          <li>{{link-to "TextField" "form-components.text-field"}}</li>
          <li>{{link-to "NumberField" "form-components.number-field"}}</li>
          <li>{{link-to "DateField" "form-components.date-field"}}</li>
          <li>{{link-to "BooleanField" "form-components.boolean-field"}}</li>
          <li>{{link-to "ValidationForm" "form-components.validation-form"}}</li>
        </ul>
      </li>
      <li>
        <p>Tools and Guides</p>
        <ul>
          <li>{{link-to "Data field builder" "yup-playground.new"}}</li>
          <li>{{link-to "How to schema" "getting-started.using-schemas"}}</li>
          <li>{{link-to "Form components" "getting-started.using-components"}}</li>
        </ul>
      </li>
    </ul>
  </nav>
{{/side-menu}}

{{content-backdrop}}

<div class="min-h-screen overflow-x-hidden flex flex-col">
  <header class="mb-4 border-t-4 border-green-dark container-fluid">
    <nav class="flex items-center justify-between flex-wrap text-grey-darkest py-4">
      <div class="flex items-center flex-no-shrink mr-6">
        <span class="font-semibold text-2xl">
          {{link-to "Ember Yup" "index" class="logo-link"}}
        </span>
      </div>
      {{side-menu-toggle class="ml-auto"}}
    </nav>
  </header>

  <main class="flex-grow">
    {{outlet}}
  </main>

  <footer id="app-footer">
    <div class="container">
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          {{link-to "Blog" "blog" class="app-bar-link"}}
          <a href="https://github.com/jquense/yup" class="app-bar-link" target="_blank" rel="noopener noreferrer">Yup API Documentation</a>
          <a href="https://github.com/egaba88/ember-yup" class="app-bar-link" target="_blank" rel="noopener noreferrer">Github</a>
          {{link-to "Changelog" "changelog" class="app-bar-link"}}
        </div>
      </div>
    </div>
  </footer>
</div>
