<div class="min-h-screen">
  <header class="mb-2 border-t-4 border-green">
    <nav class="flex items-center justify-between flex-wrap text-grey-darkest p-6">
      <div class="flex items-center flex-no-shrink mr-6">
        <span class="font-semibold text-xl tracking-tight">
          {{link-to "Ember Yup" "index" class="text-black no-underline hover:no-underline text-green-dark"}}
        </span>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow text-right">
          {{link-to "Blog" "blog" class="app-bar-link"}}
          {{link-to "Changelog" "changelog" class="app-bar-link"}}
          <a href="https://github.com/egaba88/ember-yup" class="app-bar-link" target="_blank" rel="noopener noreferrer">Github</a>
          <a href="https://github.com/jquense/yup" class="app-bar-link" target="_blank" rel="noopener noreferrer">Yup API Documentation</a>
        </div>
      </div>
    </nav>
  </header>
  <div class="flex">
    <nav class="app-side-nav hidden sm:hidden md:block">
      <ul>
        <li>
          <p>Getting Started</p>
          <ul>
            <li>{{link-to "Installation" "getting-started.installation"}}</li>
            <li>{{link-to "Intro to schemas" "getting-started.intro-to-schemas"}}</li>
            <li>
              {{link-to "Quick Start" "getting-started.quick-start"}}
              <ul>
                <li>{{link-to "Define schema" "getting-started.quick-start.index"}}</li>
                <li>{{link-to "Setup controller" "getting-started.quick-start.setup-properties"}}</li>
                <li>{{link-to "Build template" "getting-started.quick-start.build-template"}}</li>
                <li>{{link-to "Demo" "getting-started.quick-start.demo"}}</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <p>Validation Components</p>
          <ul>
            <li>{{link-to "Overview" "guides.field-components.overview"}}</li>
            <li>{{link-to "TextField" "guides.field-components.text-field"}}</li>
            <li>{{link-to "NumberField" "guides.field-components.number-field"}}</li>
            <li>{{link-to "DateField" "guides.field-components.date-field"}}</li>
            <li>{{link-to "BooleanField" "guides.field-components.boolean-field"}}</li>
            <li>
              <li>{{link-to "ValidationForm" "guides.form-component"}}</li>
              <ul>
                <li>{{link-to "Sync submission" "guides.form-component.sync-validation"}}</li>
                <li>{{link-to "Async submission" "guides.form-component.async-validation"}}</li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- <li>
          <p>API Reference</p>
          <ul>
            <li>{{link-to "Text Field" "validation-components.field" "text-field"}}</li>
            <li>{{link-to "Number Field" "validation-components.field" "number-field"}}</li>
            <li>{{link-to "Date Field" "validation-components.field" "date-field"}}</li>
            <li>{{link-to "Boolean Field" "validation-components.field" "boolean-field"}}</li>
            <li>{{link-to "Validation Form" "validation-components.validation-form.sync"}}</li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <main>
      {{outlet}}
    </main>
  </div>
</div>
