<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate a required username (on blur):</p>
    {{#text-field
      required=true
      validationMessages=(hash
        required="username is required"
      )
      value=username
      as |field|
    }}
      <input
        placeholder="username"
        type="text"
        value={{username}}
        oninput={{action (mut username) value="target.value"}}
        onblur={{action field.enable}}
      > *required
      {{#each field.errors as |errorMessage|}}
        <p class="text-red">{{errorMessage}}</p>
      {{/each}}
    {{/text-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html validUsernameExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate a required email (on blur):</p>

    {{#text-field
      type="email"
      value=validEmail
      required=true
      validationMessages=(hash
        required="email address is required"
      )
      as |field|
    }}
      <input
        placeholder="Email address"
        type="text"
        value={{validEmail}}
        oninput={{action (mut validEmail) value="target.value"}}
        onblur={{action field.enable}}
      > *required
      {{#each field.errors as |errorMessage|}}
        <p class="text-red">{{errorMessage}}</p>
      {{/each}}
    {{/text-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html validEmailExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate character limit</p>

    {{#text-field
      enabled=true
      charLimit=10
      value=charLimitText
      as |field|
    }}
      <input
        placeholder="Short message"
        type="text"
        value={{charLimitText}}
        oninput={{action (mut charLimitText) value="target.value"}}
      >
      <span>char remaining: {{field.charRemaining}}</span>
      {{#each field.errors as |errorMessage|}}
        <p class="text-red">{{errorMessage}}</p>
      {{/each}}
    {{/text-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html charLimitExample}}
  </div>
</section>
<section class="flex mb-8">
  <div class="w-1/3">
    <p>Validate regexp. Valid US zip code.</p>

    {{#text-field
      enabled=true
      matches="^\d{5}(-\d{4})?$"
      validationMessages=(hash
        matches="must be valid 5-digit or 9-digit zip code xxxxx-xxxx or xxxxx. regex: ${regex}"
      )
      value=validateMatchesValue
      as |field|
    }}
      <input
        placeholder="Short message"
        type="text"
        value={{validateMatchesValue}}
        oninput={{action (mut validateMatchesValue) value="target.value"}}
      >
      {{#each field.errors as |errorMessage|}}
        <p class="text-red">{{errorMessage}}</p>
      {{/each}}
    {{/text-field}}
  </div>
  <div class="w-2/3 text-xs">
    {{markdown-to-html matchesRegexExample}}
  </div>
</section>
