<div class="container pb-20">
  <h1>Build a schema</h1>

  <CodeDemo2
    @key="custom-schema"
    @activeTab="example1"
    @example1={{controllerCode}} @label1="controller"
    @example2={{templateCode}} @label2="template"
  >
    <form {{action "validate" on="submit"}}>
      <p class="my-6"><a class="cursor-pointer inline-block" {{action "generateFakeData"}}>Generate fake data</a></p>

      {{#if isValid}}
        <section class="mt-6 mb-8">
          <WiredCard @class="w-block w-full bg-green-lighter py-4 px-2">
            <p class="mb-0">valid</p>
          </WiredCard>
        </section>
      {{else if didAttemptValidate}}
        <section class="mt-6 mb-8">
          <WiredCard @class="w-block w-full bg-red-lighter py-4 px-2 text-sm">
            <ul>
              {{#each errors as |msg|}}
                <li>{{msg}}</li>
              {{/each}}
            </ul>
          </WiredCard>
        </section>
      {{/if}}

      <div class="row">
        {{#each-in formData as |name value|}}
          <div class="col-xs-12 col-sm-6 mb-4 m-auto">
            <div class="flex">
              <label for="{{name}}-input" class="w-2/5">{{name}}</label>
              <div class="w-3/5">
                <WiredInput @id="{{name}}-input" @class="block w-full" @input={{action (mut (get formData name)) value="target.value"}} @value={{get formData name}}/>
              </div>
            </div>
          </div>
        {{/each-in}}
      </div>

      <footer class="text-right">
        <WiredButton @class="bg-green-light">
          <button type="submit" class="px-5 py-3 font-semibold uppercase text-green-darker">validate</button>
        </WiredButton>
      </footer>
    </form>
  </CodeDemo2>


</div>
