<section>
  <h1>{{model.api.name}}</h1>
  <p>{{markdown-to-html model.api.description class="markdown"}}</p>

</section>
<section>
  <h2>Examples</h2>

  <div class="relative" style="top: 6px; left: 2px;">
    <div class="absolute">
      <WiredSelect @selected={{example}} @change={{action (mut example) value="detail.selected"}}>
        <WiredItem @value="required">required</WiredItem>
        <WiredItem @value="email">email</WiredItem>
      </WiredSelect>
    </div>
  </div>

  {{field-builder field=model.example}}
</section>


<section id="api-reference">

  <h2 class="mb-4">API reference</h2>

  <div class="api-nav-container">
    <nav class="api-index-nav">
      <section>
        {{#each methods as |method|}}
          <div class="mb-2 pt-8 pb-8 border-b border-grey-light" id={{method.id}}>
            <h4>{{method.signature}}</h4>

            {{markdown-to-html method.description class="markdown"}}
            {{#if method.params.length}}
              <div class="">
                <ul class="pl-8 list-reset">
                  {{#each method.params as |param|}}
                    <li>
                      <strong>{{param.name}}</strong> <em>{{param.type}}</em>
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </section>

      <section>
        {{#each model.api.properties as |property|}}
          <div class="mb-2 pt-8 pb-8 border-b border-grey-light" id={{property.id}}>
            <h4 class="mb-1">{{property.name}} <small class="text-sm font-normal text-grey">{{property.dataType}}</small></h4>

            {{markdown-to-html property.description class="markdown mb-1"}}
          </div>
        {{/each}}
      </section>
    </nav>

    {{#fixed-nav class="page-side-nav"}}
      <h4 class="mb-3 mt-4 text-grey-darker">State</h4>
      {{#each model.api.properties as |prop|}}
        {{#if prop.isYielded}}
          <a href="#{{prop.id}}">{{prop.name}}</a>
        {{/if}}
      {{/each}}
      <h4 class="mb-3 mt-4 text-grey-darker">Actions</h4>
      {{#each model.api.methods as |method|}}
        {{#if method.isYielded}}
          <a href="#{{method.id}}">{{method.name}}</a>
        {{/if}}
      {{/each}}
      <h4 class="mb-3 mt-4 text-grey-darker">Public Properties</h4>
      {{#each model.api.properties as |prop|}}
        {{#unless (or prop.isPrivate prop.isYielded)}}
          <a href="#{{prop.id}}">{{prop.name}}</a>
        {{/unless}}
      {{/each}}
    {{/fixed-nav}}
  </div>
</section>
