<h1>BooleanField</h1>
<p>This component wraps <code class="snippet">Yup.bool()</code> and validates boolean values.</p>
<h2>Example</h2>
{{#code-demo markup=boolDemo}}
  {{#boolean-field
    showErrorMessages=true
    enabled=true
    required=true
    value=checkboxValue
    as |field|
  }}
    <label>
      <wired-checkbox
        onclick={{action (mut checkboxValue) value="target.checked"}}
        checked={{checkboxValue}}
      >I understand that checking this box will clear the error message.</wired-checkbox>
    </label>
    {{#each field.errorMessages as |error|}}
      <p>{{error}}</p>
    {{/each}}
  {{/boolean-field}}
{{/code-demo}}

<h2>Properties</h2>

{{#each properties as |prop|}}
  <section class="mb-10">
    <h3>{{prop.name}} <small class="font-normal text-sm">{{prop.type}}</small></h3>
    <p>{{markdown-to-html prop.description class="markdown"}}</p>

    {{#if prop.enums.length}}
      <div class="">
        One of:
        {{#each option.enums as |enum|}}
          <span>{{enum}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if prop.defaultValue}}
      <p>defaultValue: {{prop.defaultValue}}</p>
    {{/if}}
  </section>
{{/each}}

<h3>Validation Options</h3>

{{#each validationOptions as |option|}}
  <section class="mb-10">
    <h4>{{option.name}} <small class="font-normal text-sm">{{option.type}}</small></h4>
    <p>{{markdown-to-html option.description class="markdown"}}</p>

    {{#if option.enums.length}}
      <div class="">
        One of:
        {{#each option.enums as |enum|}}
          <span>{{enum}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if option.defaultValue}}
      <p>defaultValue: {{option.defaultValue}}</p>
    {{/if}}
  </section>
{{/each}}

<h3>Private properties</h3>

{{#each privateProps as |prop|}}
  <section class="mb-10">
    <h4>{{prop.name}} <small class="font-normal text-sm">{{prop.type}}</small></h4>
    <p>{{markdown-to-html prop.description class="markdown"}}</p>

    {{#if prop.enums.length}}
      <div class="">
        One of:
        {{#each prop.enums as |enum|}}
          <span>{{enum}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if prop.defaultValue}}
      <p>defaultValue: {{prop.defaultValue}}</p>
    {{/if}}
  </section>
{{/each}}

<h2>Functions</h2>

{{#each functions as |prop|}}
  <section class="mb-10">
    <h4>{{prop.name}} <small class="font-normal text-sm">{{prop.type}}</small></h4>
    <p>{{markdown-to-html prop.description class="markdown"}}</p>

    {{#if prop.enums.length}}
      <div class="">
        One of:
        {{#each option.enums as |enum|}}
          <span>{{enum}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if prop.defaultValue}}
      <p>defaultValue: {{prop.defaultValue}}</p>
    {{/if}}
  </section>
{{/each}}

{{#each privateFuncs as |prop|}}
  <section class="mb-10">
    <h4>{{prop.name}} <small class="font-normal text-sm">{{prop.type}}</small></h4>
    <p>{{markdown-to-html prop.description class="markdown"}}</p>

    {{#if prop.enums.length}}
      <div class="">
        One of:
        {{#each option.enums as |enum|}}
          <span>{{enum}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if prop.defaultValue}}
      <p>defaultValue: {{prop.defaultValue}}</p>
    {{/if}}
  </section>
{{/each}}
