<h1>BooleanField</h1>
<p>This component wraps <code class="snippet">Yup.bool()</code> and validates boolean values.</p>
<h2>Example</h2>
{{#code-demo markup=boolDemo}}
  {{#boolean-field
    showErrorMessages=true
    enabled=true
    required=true
    value=checkboxValue
    as |field|
  }}
    <label>
      <wired-checkbox
        onclick={{action (mut checkboxValue) value="target.checked"}}
        checked={{checkboxValue}}
      >I understand that checking this box will clear the error message.</wired-checkbox>
    </label>
    {{#each field.errorMessages as |error|}}
      <p>{{error}}</p>
    {{/each}}
  {{/boolean-field}}
{{/code-demo}}

<h2 class="mb-4">API reference</h2>

<div class="flex">
  <div class="w-4/5 pr-8">
    <section>
      {{#each methods as |method|}}
        <div class="mb-2 pt-8 pb-8 border-b border-grey-light" id={{method.id}}>
          <h4>{{method.signature}}</h4>

          {{markdown-to-html method.description class="markdown"}}
          {{#if method.params.length}}
            <div class="">
              <ul class="pl-8 list-reset">
                {{#each method.params as |param|}}
                  <li>
                    <strong>{{param.name}}</strong> <em>{{param.type}}</em>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </div>
      {{/each}}
    </section>

    <section>
      {{#each model.properties as |property|}}
        <div class="mb-2 pt-8 pb-8 border-b border-grey-light" id={{property.id}}>
          <h4 class="mb-1">{{property.name}} <small class="text-sm font-normal text-grey">{{property.dataType}}</small></h4>

          {{markdown-to-html property.description class="markdown mb-1"}}

          <ul class="list-reset">
            <li>dataType: {{property.dataType}}</li>
            <li>defaultValue: {{property.defaultValue}}</li>
            <li>isPrivate: {{property.isPrivate}}</li>
            <li>isYielded: {{property.isYielded}}</li>
          </ul>
        </div>
      {{/each}}
    </section>
  </div>

  {{#fixed-nav class="w-1/5 text-sm flex flex-col"}}
    <h4 class="mb-3 mt-4 text-grey-darker">Methods</h4>
    {{#each model.methods as |method|}}
      <a href="#{{method.id}}" class="inline-block mb-1">{{method.name}}</a>
    {{/each}}
    <h4 class="mb-3 mt-4 text-grey-darker">Properties</h4>
    {{#each model.properties as |prop|}}
      <a href="#{{prop.id}}" class="inline-block mb-1">{{prop.name}}</a>
    {{/each}}
  {{/fixed-nav}}
</div>
