<div class="container">
  <div class="border border-grey bg-grey-light p-5 mb-5">
    <p><em class="font-bold mr-1">WARNING!</em> These components are still in development.</p>
    <p class="mb-0">If you would like to use these components, please keep that in mind and see the release notes for updates. I will do my best to keep the {{link-to "release notes" "release-notes"}} up to date with changes. Please visit the {{link-to "Schema Validation section" "validate-schema"}} for an example of how to use the yup library for validations.</p>
  </div>
  <section class="flex">
    <nav class="w-1/6">
      <ul class="list-reset text-sm">
        <li>{{link-to "Text Field" "validation-components.text-field"}}</li>
        <li>{{link-to "Number Field" "validation-components.number-field"}}</li>
        <li>{{link-to "Date Field" "validation-components.date-field"}}</li>
        <li>{{link-to "Boolean Field" "validation-components.boolean-field"}}</li>
        <li>{{link-to "Validation Form" "validation-components.validation-form.sync"}}</li>
      </ul>
    </nav>
    <div class="w-5/6">
      {{outlet}}
    </div>
  </section>
</div>
