<h1>Functions</h1>

{{#each functions as |prop|}}
  <section class="mb-10">
    <h3>{{prop.name}} <small class="font-normal text-sm">{{prop.type}}</small></h3>
    <p>{{markdown-to-html prop.description class="markdown"}}</p>

    {{#if prop.enums.length}}
      <div class="">
        One of:
        {{#each option.enums as |enum|}}
          <span>{{enum}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if prop.defaultValue}}
      <p>defaultValue: {{prop.defaultValue}}</p>
    {{/if}}
  </section>
{{/each}}

{{#each privateFuncs as |prop|}}
  <section class="mb-10">
    <h3>{{prop.name}} <small class="font-normal text-sm">{{prop.type}}</small></h3>
    <p>{{markdown-to-html prop.description class="markdown"}}</p>

    {{#if prop.enums.length}}
      <div class="">
        One of:
        {{#each option.enums as |enum|}}
          <span>{{enum}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if prop.defaultValue}}
      <p>defaultValue: {{prop.defaultValue}}</p>
    {{/if}}
  </section>
{{/each}}
