<section>
  <h1>Quick Start</h1>
  <p>In this tutorial, we'll set up a form that validates model data before creating a local record.</p>
  <div class="flex">
    <div class="flex-1">
      <form {{action "createUser" on="submit"}}>
        {{#each errorMessages as |error|}}
          <p class="text-red mb-0">{{error}}</p>
        {{/each}}
        <div class="mt-4">
          <label for="username">username</label>
          <wired-input
            id="username"
            type="text"
            value={{formData.username}}
            oninput={{action (mut formData.username) value="target.value"}}
          ></wired-input> *required
        </div>
        <div>
          <label for="age">age</label>
          <wired-input
            id="age"
            type="text"
            value={{formData.age}}
            oninput={{action (mut formData.age) value="target.value"}}
          ></wired-input> *required
        </div>
        <div>
          <label for="email">email</label>
          <wired-input
            id="email"
            type="text"
            value={{formData.email}}
            oninput={{action (mut formData.email) value="target.value"}}
          ></wired-input>
        </div>
        <button type="submit" class="my-4">
          <wired-button>create user</wired-button>
        </button>
      </form>
    </div>
    <div class="flex-1">
      <table class="text-left">
        <thead>
          <tr>
            <th style="min-width: 80px;">username</th>
            <th style="min-width: 80px;">age</th>
            <th style="min-width: 80px;">email</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |user|}}
            <tr>
              <td>{{user.username}}</td>
              <td>{{user.age}}</td>
              <td>{{user.email}}</td>
            </tr>
          {{else}}
          <p class="mt-3 text-grey">No users to display</p>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<footer class="mt-8 mb-16 w-4/5">
  {{link-to "Next: Define schema →" "getting-started.quick-start.define-schema" class="float-right"}}
</footer>
