<h1>Testing</h1>

{{field-builder field=model currentTab="code"}}
<div class="mb-20">

</div>
{{#unless isReloading}}
<div class="">
  <div class="">
    <!-- {{#component model.componentName
      validationMessages=(hash required=model.requiredValidationMessage)
      value=model.value
      required=model.required
      enabled=model.enabled
      showErrorMessages=(eq model.displayErrorMessages "init")
      showErrorMessagesOnUpdate=(eq model.displayErrorMessages "valueUpdate")
      as |field|
    }}
      <div class="">
        <div class="">
          {{#if (eq model.componentName "boolean-field")}}
            <wired-checkbox
              class="cursor-pointer"
              checked={{model.value}}
              onclick={{action (mut model.value) value="target.checked"}}
            >{{model.componentName}}</wired-checkbox>
          {{else}}
            <wired-input
              value={{model.value}}
              placeholder={{model.componentName}}
              oninput={{action (mut model.value) value="target.value"}}
            ></wired-input>
          {{/if}}
          {{#each field.errorMessages as |message|}}
            <p class="text-red">{{message}}</p>
          {{/each}}
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>value</th>
              <th>typeof(value)</th>
              <th>didValidate</th>
              <th>hasErrors</th>
              <th>showing error messages</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{field.value}}</td>
              <td>{{fieldValueType}}</td>
              <td>{{field.didValidate}}</td>
              <td>{{field.hasErrors}}</td>
              <td>{{field.showErrorMessages}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    {{/component}} -->
    <!-- <form>
      <h2 class="m-0 mb-2">Settings</h2>
      <div class="flex">
        <div class="w-2/5" style="line-height: 30px;">
          enabled
        </div>
        <div class="w-3/5">
          <wired-toggle checked={{model.enabled}} onclick={{action (mut model.enabled) value="target.checked"}}></wired-toggle>
        </div>
      </div>

      <fieldset>
        <legend class="mb-1">data type</legend>
        <wired-radio-group selected={{model.componentName}}>
          <div class="flex p-0">
            <wired-radio class="w-1/2" type="radio" name="text-field" onclick={{action (mut model.componentName) value="target.name"}}>string</wired-radio>
            <wired-radio class="w-1/2" type="radio" name="number-field" onclick={{action (mut model.componentName) value="target.name"}}>number</wired-radio>
          </div>
          <div class="flex p-0">
            <wired-radio class="w-1/2" type="radio" name="date-field" onclick={{action (mut model.componentName) value="target.name"}}>date</wired-radio>
            <wired-radio class="w-1/2" type="radio" name="boolean-field" onclick={{action (mut model.componentName) value="target.name"}}>boolean</wired-radio>
          </div>

        </wired-radio-group>
      </fieldset>
      <fieldset>
        <legend>options</legend>
        <label>
          <wired-checkbox checked={{model.required}} type="checkbox" onclick={{action (mut model.required) value="target.checked"}}>required</wired-checkbox>
        </label>
      </fieldset>
      <fieldset>
        <legend>show errorMessages</legend>
        <wired-radio-group selected={{model.displayErrorMessages}}>
          <wired-radio type="radio" name="init" onclick={{action (mut model.displayErrorMessages) "init"}}>on init</wired-radio>
          <wired-radio type="radio" name="valueUpdate" onclick={{action (mut model.displayErrorMessages) "valueUpdate"}}>on value update</wired-radio>
        </wired-radio-group>
      </fieldset>
      <fieldset>
        <legend>validation messages</legend>
        <div class="">
          <label for="required-vmessage">required</label>
          <input type="text" id="required-vmessage" oninput={{action (mut model.requiredValidationMessage) value="target.value"}}>
        </div>
      </fieldset>
      <div class="leading-tight">
        <a href>set value to undefined</a> <br>
        <a href>set value to null</a>
      </div>
      <button type="button" name="button" {{action "reset"}}><wired-button>reset</wired-button></button>
    </form> -->
    <!-- {{#if (eq model.componentName "boolean-field")}}
      {{#boolean-field
        validationMessages=validationMessages
        value=fieldValue
        required=required
        enabled=enabled
        showErrorMessages=showErrors
        as |field|
      }}
        <wired-checkbox checked={{fieldValue}} onclick={{action (mut fieldValue) value="target.checked"}}>{{type}}</wired-checkbox>
        {{#each field.errorMessages as |message|}}
          <p class="text-red">{{message}}</p>
        {{/each}}
        <table class="table">
          <thead>
            <tr>
              <th>value</th>
              <th>typeof(value)</th>
              <th>isValid</th>
              <th>showErrorMessages</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{fieldValue}}</td>
              <td>{{fieldValueType}}</td>
              <td>{{field.isValid}}</td>
              <td>{{field.showErrorMessages}}</td>
            </tr>
          </tbody>
        </table>
      {{/boolean-field}}
    {{else}}

    {{/if}} -->
  </div>
  <div class="w-1/3">

  </div>
</div>

{{/unless}}
