<div class="container">
  <h1>Overview</h1>

  <section>
    <p>Yup is a JavaScript object schema validator and object parser. This is an Ember port of the <a href="https://github.com/jquense/yup">Yup validation library</a>.</p>
  </section>

  <h2 class="mt-8">Installation</h2>

  <section>
    {{markdown-to-html installationInstructions class="codeblock"}}
    <p>This will install the <a href="https://github.com/jquense/yup" target="_blank" rel="noopener noreferrer">yup</a> npm module and <a href="https://github.com/rwjblue/ember-cli-cjs-transform" target="_blank" rel="noopener noreferrer">ember-cli-cjs-transform</a> Ember addon.</p>
    <p>See the {{link-to "quick start" "getting-started.quick-start"}} section for a tutorial of how to validate data.</p>
  </section>

  <h2>Validating data</h2>

  <section>
    <h3>Model validation</h3>
    <p>If you're using Ember Data, you're in luck. You can add a schema to your model by adding a mixin.</p>
    <p>{{link-to "Read more" "getting-started.ember-data"}}</p>
  </section>

  <section>
    <h3>Build schemas</h3>
    <p>{{markdown-to-html "Use `yup` and build schemas to validate against." class="markdown"}}</p>
    <p>{{link-to "Read more" "getting-started.using-schemas"}}</p>
  </section>
</div>
