<nav class="app-side-nav">
  <ul>
    <li>
      <p>Getting Started</p>
      <ul>
        <li>{{link-to "Overview" "getting-started.installation"}}</li>
        <li>{{link-to "Validate models" "getting-started.ember-data"}}</li>
        <li>{{link-to "Build schemas" "getting-started.using-schemas"}}</li>
      </ul>
    </li>
    <li>
      <p>API Reference</p>
      <ul>
        <li>{{link-to "ValidateModel mixin" "validate-model-mixin"}}</li>
      </ul>
    </li>
    <!-- <li>
      <p>Form Components</p>
      <ul>
        <li>{{link-to "TextField" "form-components.text-field"}}</li>
        <li>{{link-to "NumberField" "form-components.number-field"}}</li>
        <li>{{link-to "DateField" "form-components.date-field"}}</li>
        <li>{{link-to "BooleanField" "form-components.boolean-field"}}</li>
        <li>{{link-to "ValidationForm" "form-components.validation-form"}}</li>
      </ul>
    </li> -->
  </ul>
</nav>
