<nav class="app-side-nav">
  <ul>
    <li>
      <p>Getting Started</p>
      <ul>
        <li>{{link-to "Overview" "getting-started.installation"}}</li>
        <li>
          {{link-to "Quick Start" "getting-started.quick-start"}}
          <ul>
            <li>{{link-to "with Ember Data" "getting-started.ember-data"}}</li>
            <li>{{link-to "building schemas" "getting-started.using-schemas"}}</li>
            <li>{{link-to "using FormFields" "yup-playground.new"}}</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <p>Form Components</p>
      <ul>
        <li>{{link-to "TextField" "form-components.text-field"}}</li>
        <li>{{link-to "NumberField" "form-components.number-field"}}</li>
        <li>{{link-to "DateField" "form-components.date-field"}}</li>
        <li>{{link-to "BooleanField" "form-components.boolean-field"}}</li>
        <li>{{link-to "ValidationForm" "form-components.validation-form"}}</li>
      </ul>
    </li>
  </ul>
</nav>
