<nav class="app-side-nav">
  <ul>
    <li>
      <p>Getting Started</p>
      <ul>
        <li>{{link-to "Installation" "getting-started.installation"}}</li>
        <li>
          {{link-to "Quick Start" "getting-started.quick-start"}}
          <ul>
            <li>{{link-to "Example" "getting-started.quick-start.demo"}}</li>
            <li>{{link-to "Define schema" "getting-started.quick-start.define-schema"}}</li>
            <li>{{link-to "Setup controller" "getting-started.quick-start.setup-controller"}}</li>
            <li>{{link-to "Build template" "getting-started.quick-start.build-template"}}</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <p>Tools and Guides</p>
      <ul>
        <li>{{link-to "Playground" "yup-playground.new"}}</li>
        <li>{{link-to "How to schema" "getting-started.using-schemas"}}</li>
        <li>{{link-to "Form components" "getting-started.using-components"}}</li>
      </ul>
    </li>
    <li>
      <p>Form Components</p>
      <ul>
        <li>{{link-to "TextField" "form-components.text-field"}}</li>
        <li>{{link-to "NumberField" "form-components.number-field"}}</li>
        <li>{{link-to "DateField" "form-components.date-field"}}</li>
        <li>{{link-to "BooleanField" "form-components.boolean-field"}}</li>
        <li>{{link-to "ValidationForm" "form-components.validation-form"}}</li>
      </ul>
    </li>
  </ul>
</nav>
