{{#if showCode}}
  <WiredCard @class="block demo-container relative">
    <nav class="nav-tabs absolute pin-r text-right">
      <wired-listbox horizontal selected={{if showCode "code" "demo"}}>
       <wired-item value="demo" onclick={{action (mut showCode) false}}>demo</wired-item>
       <wired-item value="code" onclick={{action (mut showCode) true}}>code</wired-item>
      </wired-listbox>
    </nav>
    {{markdown-to-html markup}}
  </WiredCard>
{{else}}
  <WiredCard @class="block demo-container relative">
    <nav class="nav-tabs absolute pin-r text-right">
      <wired-listbox horizontal selected={{if showCode "code" "demo"}}>
       <wired-item value="demo" onclick={{action (mut showCode) false}}>demo</wired-item>
       <wired-item value="code" onclick={{action (mut showCode) true}}>code</wired-item>
      </wired-listbox>
    </nav>
    <div class="pt-2 pb-10 px-2 demo">
      {{yield}}
    </div>
  </WiredCard>
{{/if}}
