{{#if showCode}}
  <wired-card class="block demo-container relative">
    <nav class="nav-tabs absolute pin-r text-right" style="top: -46px;">
      <wired-listbox horizontal selected={{if showCode "code" "demo"}}
       style="--wired-item-selected-color: #212121; --wired-item-selected-bg: #fff382;">
       <wired-item value="demo" onclick={{action (mut showCode) false}}>demo</wired-item>
       <wired-item value="code" onclick={{action (mut showCode) true}}>code</wired-item>
      </wired-listbox>
    </nav>
    {{markdown-to-html markup}}
  </wired-card>
{{else}}
  <wired-card class="block demo-container relative">
    <nav class="nav-tabs absolute pin-r text-right" style="top: -46px;">
      <wired-listbox horizontal selected={{if showCode "code" "demo"}}
       style="--wired-item-selected-color: #212121; --wired-item-selected-bg: #fff382;">
       <wired-item value="demo" onclick={{action (mut showCode) false}}>demo</wired-item>
       <wired-item value="code" onclick={{action (mut showCode) true}}>code</wired-item>
      </wired-listbox>
    </nav>
    <div class="p-2">
      {{yield}}
    </div>
  </wired-card>
{{/if}}
